* {
    scrollbar-width: none; /* hide scrollbar in firefox */
    scroll-behavior: smooth;
  }
  
*::-webkit-scrollbar {
    display: none; /* hide scrollbar in edge and opera */
    scroll-behavior: smooth;
}
* { 
    box-sizing: border-box;
}

body {
    background-color: lavender;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Arial Narrow";
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;  
    row-gap: 10px;
}

h1 {
    flex: 0;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
}
p {
    margin: 0;
}

#jitsi {
    flex: 1;
    width: 100%;
    text-align: center;
    border: black dashed 1px;
    border-radius: 10px;
    font-size: 80px;
    display: flex;
    align-items:center;
    justify-content:center;
}

a {
    color: inherit;
}
a:hover {
    color: blue;
}

iframe {
    flex: 1;
    width: 100%;
    /* height: 80vh; */
    object-fit: contain;
    border: black dashed 1px;
    border-radius: 10px;
}

#bottom {
    flex: 0;
}

#linktoarena {
    flex: 0;
    background-color: black;
    border-radius: 10px;
    border: lavender dashed 1px;
    text-align: center;
    padding: 10px;
    min-width: 40px;
}
#linktoarena a, #linktoarena a:visited {
    color: lavender;
    text-decoration: none;
}

.container {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    column-gap: 10px;
}

.thing {
    white-space: nowrap;
    border-radius: 10px;
    border: black dashed 1px;
    padding: 10px;
}

.image {
    display: none;
    position: fixed;
    top: calc(50vh);
    left: calc(50vw);
    z-index: 99;
    transform:translate(-50%,-50%);
}

.thing:hover div {
    display: block;
}

img {
    width: 100%;
    object-fit: cover;
    width: 600px;
    height: 600px;
    border: black dashed 1px;
    border-radius: 50%;
}
