:root {
    --spacing-l: 30px;
    --spacing-m: 25px;
    --spacing-s: 17px;

    --white: snow;
    --highlight: rgb(203, 203, 203);
    --dark: dimgray;

    --radius-soft: 10px;
    --radius-hard: 20px;

    --font-normal: 1.1rem;
    --font-small: .8rem;

}

html,
body,
div,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    /* scrollbar-width: none; */
}

/* body::-webkit-scrollbar {
    display: none;
  }
   */


html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    line-height: 1.4;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}


body {
    font-size: 1.5em;
    background-color: lightgray;
    font-family: Arial Narrow, Arial, sans-serif;
    height: 100%;
    margin: 0;
    --zoom: 70%;
}

a, a:hover, a:visited{
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

h1 {
    flex: 0;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
    margin: 10px;
    color: black;
}


h2 {
    flex: 0;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px;
}

.stack {
    display: table-cell;
    position: relative;
    vertical-align: bottom;
    top: 0;
    left: 0;
    height: 90vh;
    margin-bottom: -80px;
    font-size: 0em;
}

.stack span {
    display: inline-block;
    /* z-index: 1; */
    position: relative;
    cursor: alias;
}

.stack span:hover {
    z-index: 999;

}

#bookzoom {
    position: absolute;
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    top:10px;
    right: 30vw;
    height: 100px;
    width: 20px;
}

.book {
    padding: 0;
    margin: 0;
    width: var(--zoom);
    filter: drop-shadow(0);
    -webkit-filter: drop-shadow(0);
    -webkit-transition: margin 0.1s;
    /* transition: margin 0.1s; */
}

.book:hover {
    margin-left: 10px;
    filter: drop-shadow(-4px 20px 15px black);
    -webkit-filter: drop-shadow(-4px 20px 15px black);
    z-index: 999;
}

.blurb {
    border-left: 1px dashed black;
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    height: 90vh;
    background-color: white;
    /* padding: 30px; */
    /* overflow-y: scroll; */
}

.block {
    margin: 10px;
    padding: 10px;
    border: dashed black 1px;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    border: 0;
    width: 100%;
}

th {
    font-style: italic;
    padding: 10px;
    vertical-align: top;
    text-transform: lowercase;
    font-weight: 400;
    text-align: left;  
}

tr:hover {
    border-radius: 10px;
    background-color: khaki;
}

.cover {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    right: 0;
}

td:hover > .cover {
    visibility: visible;
}

.squareColor {
    height: 25px;
    width: 25px;
    /* border: 1px dashed black; */
    border-radius: 5px;
}

#addmore {
    text-align: center;
    display: block;
    border: 1px dotted black;
    margin: 10px;
    padding: 10px;
    border: dashed black 1px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 18px;
    color: black;
}

#addmore:hover {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    height: 10vh;
    padding: 15px;
    /*! padding-top: 0; */
    font-size: 0.8em;
    background-color: green;
    width: 100%;
    overflow-y: scroll;
}
