:root {
    --spacing-l: 30px;
    --spacing-m: 25px;
    --spacing-s: 17px;

    --white: snow;
    --highlight: rgb(203, 203, 203);
    --dark: dimgray;

    --radius-soft: 10px;
    --radius-hard: 20px;

    --font-normal: 1.1rem;
    --font-small: .8rem;

}

html,
body,
div,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    /* scrollbar-width: none; */
}

/* body::-webkit-scrollbar {
    display: none;
  }
   */


html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    line-height: 1.4;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #000;
    background-color: #FAF9F4;
    font-family: "Arial Narrow";
    font-size: 18px;
    letter-spacing: 0.02em;
    font-weight: normal;

    width: 100%;

}

