<!DOCTYPE html>
    <html>
    <head>
      <meta content='width=device-width, initial-scale=1' name='viewport'>
      <meta charset="utf-8">
      <title>XP Activity</title>
      <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
      <link rel="manifest" href="assets/favicon/site.webmanifest">
      <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#ffc40d">
      <meta name="theme-color" content="#ffffff">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <script src="https://code.angularjs.org/1.1.5/angular.min.js"></script>
      <script src="https://code.angularjs.org/1.1.5/angular-resource.min.js"></script>
      <script src="https://code.angularjs.org/1.1.5/angular-sanitize.min.js"></script>
      <style>
        img {
            width:100%;
        }

        .block {
            display: inline-block;
            width: 30%;
            padding: 10px;
            vertical-align: top;
        }

      </style>
    </head>
    <body ng-app="arenaApp">

        <div class="container" ng-controller="channelShow">

            <div class="row">
                <div class="sixteen columns add-bottom">
                    <h1 class="header">{{channel.title}}</h1>
                </div>
            </div>

            <!-- Channel contents loop -->
            <div class="block" ng-repeat="block in channel.contents">

                <div class="sixteen columns">

                    <div ng-if="block.class == 'Image'">
                            <div class="seven columns add-bottom">
                                <img src="{{block.image.display.url}}" alt="{{block.title}}" class="scale-with-grid">
                            </div>
                            <div class="seven columns">
                                <figcaption ng-bind-html-unsafe="block.content_html"> </figcaption>
                            </div>
                    </div>

                    <div ng-if="block.class == 'Attachment'">
                        <img src="{{block.image.display.url}}" alt="{{block.title}}" class="scale-with-grid add-bottom">
                    </div>

                    <div ng-if="block.class == 'Text'" ng-bind-html-unsafe="block.content_html">
                    </div>

                    <div ng-if="block.class == 'Media'">
                        <div ng-bind-html-unsafe="block.embed.html"></div>
                        <figcaption ng-bind-html-unsafe="block.content_html"></figure>
                    </div>

                    <div ng-if="block.class == 'Channel'">
                        <h5 class="channel"><a href="#{{block.slug}}" title="">{{block.title}}</a></h5>
                    </div>

                    <p ng-if="block.title">
                        {{block.title}}
                        <span ng-if="block.class == 'Link'">
                            <a href="{{block.source.url}}" title="{{block.title}}">↳</a>
                        </span>
                        <span ng-if="block.class == 'Attachment'">
                            | <a href="{{block.source.url}}" title="{{block.title}}">Download</a>
                        </span>
                    </p>

                </div>

            </div>
            <!-- End Channel contents loop -->
        </div>
        <script type="text/javascript">
            var app = angular.module('arenaApp', ['ngResource', 'ngSanitize']);

            app.controller('channelShow', function($scope, $resource) {
              var Channel = $resource('https://api.are.na/v2/channels/:slug');

              var channel = Channel.get({slug: 'activity-efz52cmnw4o', direction: 'desc'}, function(){
                $scope.channel = channel;
              });
            })

            const randomInt = Math.floor(Math.random() * (100 - 20 + 1) + 20)
            console.log('translateX will animate to: ',randomInt*-1 + "%");

            var blocks = document.getElementsByClassName('block')
            for(x = 0; x++; x > blocks.length) {
                blocks[i].style.transform = 'rotate(`randomInt`)';
            }
            // blocks.forEach(element => console.log(element));
       </script>
    </body>
</html>